# EIFA  Workshop No. 0 - Python Programming
In this workshop we will get familiar with the basic conceps of Python programming that will be useful for coding Neural Networks. This workshop is based on content from the book *"Data Structures and Algorithms in Python"  by Michael T. Goodrich, Roberto Tamassia and Michael H. Goldwasser* and the University of Clemson online achine learning Workshops.

## Objects in Python 
Python is an object-oriented language and classes form the basis for all data types. In this section, we describe key aspects of Python’s object model, and we introduce Python’s built-in classes, such as the int class for integers, the ﬂoat class for ﬂoating-point values, and the str class for character strings.

### Basic Data Types
- **Integers**:Whole numbers like 1, 2, 3, 4, 23433
- **Strings**:Text, words, statements that are enclosed withing quotation marks `""` or `''`.
- **Floating Points (Floats)**: Fractional or Decimal numbers: 2.333, 21.41, 3.1416

In [1]:
12 #This is an integer

12

In [2]:
"Cali es Cali ..." #This is a string

'Cali es Cali ...'

In [3]:
3.1416 #This is a float

3.1416

### Built-in Functions
   
A function is a set of instructions/ code that performs a task/specific action. For now, we'll just worry about the functions that Python has built in. These are already defined and coded. You can access by "calling" them.

`print()` is a built-in function that prints whatever you put between the parentheses (*argument*) to the screen. 

`type()` is a built-in function that prints the data type of its argument to the screen

In [4]:
print("Cali es Cali") #built in function

Cali es Cali

In [5]:
type("3.14159")

str

### Variables
A variable can be associated with any type of object, and it can later be reassigned to another object of the same (or different) type. Unlike Java and C++, Python is a dynamically typed language, as there is no advance declaration associating a variable with a articular data type.

In [6]:
country="Colombia"
city = "Bogota"
temperature = 12.5


>**Question**: Define two variables to store the values of the name and the temperature of the city you currently live in. Can you add the two variables as you defined them?

In [7]:
# We can define store the values in the following variables
temperature = 26.5
name = "Cali"

# We cannot add the two variables as they are becausse they correspond to two different data tyoes

#### Naming variables 
**Rules/guidelines:**  
 - No spaces  
 - No Special Characters @ , ! , %  
 - Do not name variables after a function name

# Arithmetic Operations

In [8]:
#Built in Math Operations
4.5+3.5 #Addition
4.5-3.5 #Subtraction
4.5*3.5 #Multiplication
4.5/3.5 #Division

1.2857142857142858

We can define two variables `a` and `b` and assign values to perform operations and define new variables

In [9]:
a = 4.49
b = 2

sum_a_b = a + b
print(sum_a_b) 

div_a_b = a / b
print(div_a_b)

6.49
2.245

In [10]:
#Additional Math Operations
a_quo = a // b #quotient
a_mod = a % b #modulo or remainder
a_pow = a ** b #power or exponent 2**3 = 8

In [11]:
a_quo

2.0

>**Question**: Evaluate the following polynomial $x^4 - 3x^2 - 8x + 15$ in $x=3$

In [12]:
x = 3
x ** 4 - 3*(x**2) - 8*x + 15

45

# Other advanced Built-in Object/Data Types

## Lists

In [13]:
test_list = [1,2,3,4]
test_list

[1, 2, 3, 4]

In [14]:
type(test_list)

list

Unlike arrays in other programming languages,  list in python can contain multiple data types

In [15]:
test_list = [1, "Hello World", 3.14159, "a"]
test_list

[1, 'Hello World', 3.14159, 'a']

- We can access the value in a particular index using square brackes `[]`. 
- Lists can also be defined based on previously defined variables, `**But be careful** when you define variables based on lists values because lists are mutable objects. **NOTE: the index starts at 0**

In [16]:
sample_list = [sum_a_b, div_a_b, 12]

print(sample_list)

sum_a_b = sample_list[2]

print(sum_a_b)

sample_list[0] = 5

print(sample_list)

print(sum_a_b)

[6.49, 2.245, 12]
12
[5, 2.245, 12]
12

In [18]:
sample_list[0] #first value within the list

5

In [19]:
sample_list[2] #3rd object.

12

When counting from the right, Index starts at <mark>-1</mark>

In [20]:
sample_list[-1]

12

We can add elements to the list with concatenation using the `+` symbol.  We can also add new elements to the list using the `append` built-in *method*.

In [41]:
sample_list += test_list #same syntax as sample_list = sample_list + test_list
sample_list.append("new_item")
sample_list

[5,
 2.245,
 12,
 1,
 'Hello World',
 3.14159,
 'a',
 1,
 'Hello World',
 3.14159,
 'a',
 'new_item']

We can get *slices* of lists in Python, that is, a chunk of the list

In [26]:
#Slicing , extracting subsets of a list
sample_list[0:4]

[5, 2.245, 12, 1]

In [28]:
sample_list[3:] #From fourth index til the en of the list

[1, 'Hello World', 3.14159, 'a']

In [30]:
sample_list[:3] #From the beginning of the list to the end of the list

[5, 2.245, 12]

>**Question**: Let  $ A = \begin{vmatrix}
 2 & 3 \\
 4 & 1 \\
\end{vmatrix}$ and $x =\begin{vmatrix}
 1 \\
 -1 \\
\end{vmatrix}$ compute the product $Ax$

# "For" loops

In [37]:
a_list = sample_list
a_list

[5, 2.245, 12, 1, 'Hello World', 3.14159, 'a']

In [42]:
new_list=[] ##empty list
print(new_list)
#Indentation 4 spaces
for obj in a_list:
    print(obj)
    new_list.append(2*obj)     #Built-in method to insert elements in a list
    print(new_list)  #contained in for loop, indented
print(a_list) #not contained in for loop, not indented

[]
5
[10]
2.245
[10, 4.49]
12
[10, 4.49, 24]
1
[10, 4.49, 24, 2]
Hello World
[10, 4.49, 24, 2, 'Hello WorldHello World']
3.14159
[10, 4.49, 24, 2, 'Hello WorldHello World', 6.28318]
a
[10, 4.49, 24, 2, 'Hello WorldHello World', 6.28318, 'aa']
1
[10, 4.49, 24, 2, 'Hello WorldHello World', 6.28318, 'aa', 2]
Hello World
[10, 4.49, 24, 2, 'Hello WorldHello World', 6.28318, 'aa', 2, 'Hello WorldHello World']
3.14159
[10, 4.49, 24, 2, 'Hello WorldHello World', 6.28318, 'aa', 2, 'Hello WorldHello World', 6.28318]
a
[10, 4.49, 24, 2, 'Hello WorldHello World', 6.28318, 'aa', 2, 'Hello WorldHello World', 6.28318, 'aa']
new_item
[10, 4.49, 24, 2, 'Hello WorldHello World', 6.28318, 'aa', 2, 'Hello WorldHello World', 6.28318, 'aa', 'new_itemnew_item']
[5, 2.245, 12, 1, 'Hello World', 3.14159, 'a', 1, 'Hello World', 3.14159, 'a', 'new_item']

In [39]:
new_list

[10, 4.49, 24, 2, 'Hello WorldHello World', 6.28318, 'aa']

In [40]:
obj

'a'

# Conditional statements

In [ ]:
#comparison
x = 3 #Assignment operation
if x == 5:
    print("Value is equal to 5")
#else if
elif x < 5:
        print("Value is less than 5")
else:
    print("Value is greater than 5")

Value is less than 5

In [ ]:
#Combine for loops and if else condition statements
num_list = [2,3,47,9,4,7,8,10,1,6,5]
y = 5

for num in num_list:
    if num == y:
        #f-strings
        print(f"{num} is equal to {y}")
    elif num < y:
        print(f"{num} is less than {y}")
    else:
        print(f"{num} is greater than {y}")

2 is less than 5
3 is less than 5
47 is greater than 5
9 is greater than 5
4 is less than 5
7 is greater than 5
8 is greater than 5
10 is greater than 5
1 is less than 5
6 is greater than 5
5 is equal to 5

List Comprehensions

In [ ]:
#typical for loop
for num in a_list:
    print(num*2)

12.98
4.98
17.96
4.49
4.0
0.9800000000000004
40.32020000000001

In [ ]:
#list comprehension
[print(num*2) for num in a_list]

12.98
4.98
17.96
4.49
4.0
0.9800000000000004
40.32020000000001

[None, None, None, None, None, None, None]

In [ ]:
new_list1 = [num*3 for num in a_list]
new_list1

[19.47,
 7.470000000000001,
 26.94,
 6.735,
 6.0,
 1.4700000000000006,
 60.480300000000014]

In [ ]:
new_list1 = [num*1.5 for num in new_list1]

In [ ]:
new_list1

[29.205,
 11.205000000000002,
 40.410000000000004,
 10.102500000000001,
 9.0,
 2.205000000000001,
 90.72045000000003]